.library {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.libraryAlbums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.libraryProduct {
  background: var(--section);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 5px;
  column-gap: 10px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.libraryProduct:hover {
  background: var(--section-hover);
}
.libraryProduct:hover img {
  transform: scale(110%);
}
.libraryProductImage {
  grid-row: 1/4;
  max-width: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.libraryProductImage img {
  width: 100%;
  border-radius: 8px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1200px) {
  .libraryAlbums {
    grid-template-columns: 1fr;
  }
}
