.bottombar {
  border-radius: 10px;
  margin: 10px;
  background-color: var(--window);
  display: flex;
}
.bottombar h1 {
  color: white;
}
.cart {
  height: 75px;
  flex: 0 1 200px;
  background-color: green;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: flex;
  vertical-align: center;
  justify-content: center;
}
.linkLeft{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  color: white;
  gap: 10px;
}
@media only screen and (max-width: 950px) {
  .cart{
    flex: 0 0 90px;
  }
}

