.bottombar {
  padding-top: 5px;
  grid-column: 1/3;
  grid-row: 3/3;
  background-color: var(--window);
  display: flex;
}
.bottombar h1 {
  color: white;
}
.cart {
  position: relative;
  flex: 0 1 200px;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.cart:hover {
  background: var(--accent-gradient-hover);
  box-shadow: 0px 0px 19px -6px var(--font-color);
}
.cart:hover .cartBadge {
  background: var(--reddish-button-hover);
}
.cartIcon {
  position: relative;
  height: 25px;
}
.cartBadge {
  position: absolute;
  top: -7px;
  right: -7px;
  background: var(--reddish-button);
  height: 18px;
  width: 18px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge {
  background-color: red !important;
}
@media only screen and (max-width: 950px) {
  .cart {
    flex: 0 1 90px;
  }
  .cart > h3 {
    display: none;
  }
}
