.bottombar {
  padding-top: 5px;
  grid-column: 1/3;
  grid-row: 3/3;
  background-color: var(--window);
  display: flex;
}
.bottombar h1 {
  color: white;
}
.cart {
  flex: 0 1 200px;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 950px) {
  .cart {
    flex: 0 1 90px;
  }
  .cart > h3 {
    display: none;
  }
}
