.topbar {
  -webkit-app-region: drag;
  grid-column: 1/3;
  grid-row: 1/2;
}
.topBarContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.iconDiv {
  padding-left: 18px;
  flex: 0 1 160px;
  display: flex;
  vertical-align: center;
  align-items: center;
  gap: 10px;
}
.iconDiv img {
  height: 44px;
}
.searchInputDiv {
  flex: 0 1 400px;
}

.searchInput {
  -webkit-app-region: no-drag;
  box-sizing: border-box;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  background-color: var(--searchbar);
  color: var(--font-color);
  border: 3px solid transparent;
  border-radius: 10px;
  transition: background-color 150ms linear;
}

.searchInput:focus {
  outline: none;
  background:
    linear-gradient(var(--searchbar-focused), var(--searchbar-focused)) padding-box,
    var(--accent-gradient) border-box;
  border: 3px solid transparent;
  transition: background-color 150ms linear;
}

.searchInput:hover {
  background-color: var(--searchbar-focused);
  transition: background-color 150ms linear;
}

.profileDiv {
  height: 60px;
  flex: 0 0 240px;
  display: inline-flex;
  align-items: center;
}

.walletValueDiv {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
}

.profileButtonDiv {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.profileButton {
  -webkit-app-region: no-drag;
  height: 38px;
  border: 5px solid #5a5a5a;
  border-radius: 100%;
  transition: border 150ms height 150ms;
}

.profileButton:hover {
  opacity: 0.8;
  height: 44px;
  border-width: 3px;
  transition: border 150ms height 150ms;
}

.profileButton:active {
  opacity: 0.6;
}
.output {
  position: absolute;
  display: none;
}
.output.visible{
  display: grid;
  gap: 5px;
  width: 400px;
  color: var(--font-color);
  background: var(--accent-gradient);
  max-height: calc(100% - 130px);
  border-radius: 10px;
  z-index: 69;
  animation: appear 200ms;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}
.outputItem {
  user-select: none;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: min-content min-content;
  column-gap: 5px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px;
  animation: appear 200ms;
}
.outputItem img {
  width: 100%;
  grid-row: 1/3;
  border-radius: 3px;
}
.outputItem p:last-of-type {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
}
.outputItem div {
  display: inline flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.outputItem:hover {
  background: var(--accent-gradient-hover);
  box-shadow: 0px 0px 19px -6px var(--font-color) inset;
}

.output::-webkit-scrollbar {
  width: 8px;
}
.output::-webkit-scrollbar-track {
  background: transparent;
}
.output::-webkit-scrollbar-thumb {
  background-color: var(--section);
  border-radius: 10px;
}
.output::-webkit-scrollbar-thumb:hover {
  background: var(--section);
}

@keyframes appear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: calc(100% - 130px);
  }
}

@keyframes disappear {
  0% {
    max-height: calc(100% - 130px);
  }
  100% {
    max-height: 0;
  }
}

@media only screen and (max-width: 950px) {
  .topBarContent {
    gap: 0px;
  }
  .iconDiv > p {
    display: none;
  }
  .iconDiv {
    flex: 0 1 50px;
  }
  .walletValueDiv {
    display: none;
  }
  .profileDiv {
    flex: 0 0 180px;
  }
}
