.topbar {
  -webkit-app-region: drag;
  height: 60px;
}

.topBarContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.iconDiv {
  flex: 0 1 160px;
  display: flex;
  vertical-align: center;
  align-items: center;
}
.searchInputDiv {
  flex: 0 1 400px;
}

.searchInput {
  -webkit-app-region: no-drag;
  box-sizing: border-box;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  background-color: #202020;
  color: #ffffff;
  border-width: 0px;
  border-radius: 22px;
  transition: background-color 150ms linear;
}

.searchInput:focus {
  outline: none;
  background-color: #292929;
  border: 2px solid #aaaaaa;
  transition: background-color 150ms linear;
}

.searchInput:hover {
  background-color: #292929;
  transition: background-color 150ms linear;
}

.profileDiv {
  flex: 0 0 240px;
  display: inline-flex;
  align-items: center;
}

.walletValueDiv {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
}

.profileButtonDiv {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.profileButton {
  -webkit-app-region: no-drag;
  height: 42px;
  width: 42px;
  background-color: #202020;
  border: 5px solid #5a5a5a;
  border-radius: 22px;
  transition: background-color 150ms linear;
}

.profileButton:hover {
  height: 44px;
  width: 44px;
  background-color: #292929;
  border-width: 3px;
  transition: background-color 150ms linear;
}

.profileButton:active {
  background-color: #000000;
}

@media only screen and (max-width: 950px) {
  .topBarContent {
    gap: 0px;
  }
  .iconDiv > p {
    display: none;
  }
  .iconDiv {
    flex: 0 1 50px;
  }
  .walletValueDiv {
    display: none;
  }
  .profileDiv {
    flex: 0 0 180px;
  }
}
