.topbar {
  user-select: none;
  -webkit-app-region: drag;
  grid-column: 1/3;
  grid-row: 1/2;
}
.topBarContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.iconDiv {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
  padding-left: 18px;
  flex: 0 1 160px;
  display: flex;
  vertical-align: center;
  align-items: center;
  gap: 10px;
}
.iconDiv img {
  height: 44px;
}
.searchInputDiv {
  flex: 0 1 40vw;
}
.searchInputDiv .MuiInputBase-root {
  -webkit-app-region: no-drag;
  height: 40px;
  background-color: var(--searchbar);
  border-radius: 10px;
  transition: all 0.2 linear;
}
.searchInputDiv .MuiInputBase-root:not(.Mui-focused) input {
  opacity: 0.5;
}
.searchInputDiv .MuiInputBase-root input::placeholder {
  text-align: center;
  margin-right: 35px;
}
.searchInputDiv .MuiInputLabel-root.Mui-focused {
  color: var(--accent-color) !important;
  filter: drop-shadow(0 0 0px var(--font-color));
}
.searchInputDiv .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent-color) !important;
  filter: drop-shadow(0 0 5px var(--font-color));
}
.searchInputDiv .MuiInputAdornment-root {
  color: var(--font-color);
  opacity: 0.5;
  transition: opacity 0.2s;
}
.searchInputDiv .MuiInputBase-root.Mui-focused .MuiInputAdornment-root {
  opacity: 1;
}
.profileDiv {
  height: 60px;
  flex: 0 0 300px;
  display: inline-flex;
  align-items: center;
  overflow: visible;
}

.profileDiv Button:not(.profileButtonDiv Button) {
  height: 30px;
  width: 30px;
  -webkit-app-region: no-drag;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -5px var(--font-color);
  transition: all 0.2s;
}

.profileDiv Button:not(.profileButtonDiv Button):hover {
  background: var(--accent-gradient-hover);
  box-shadow: 0px 0px 19px -3px var(--font-color);
}

.walletValueDiv {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
}

.profileButtonDiv {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
}

.profileButton {
  -webkit-app-region: no-drag;
  height: 38px;
  background:
    linear-gradient(var(--searchbar-focused), var(--searchbar-focused)) padding-box,
    var(--accent-gradient) border-box;
  border: 5px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 16px -5px var(--font-color);
  transition: all 0.2s;
}

.profileButton:hover {
  height: 44px;
  background:
    linear-gradient(var(--searchbar-focused), var(--searchbar-focused)) padding-box,
    var(--accent-gradient-hover) border-box;
  border: 2px solid transparent;
  box-shadow: 0px 0px 19px -3px var(--font-color);
}

.profileButton:active {
  opacity: 0.6;
}
.output {
  position: absolute;
  display: grid;
  gap: 5px;
  width: 40vw;
  color: var(--font-color);
  background: var(--accent-gradient);
  max-height: calc(100% - 130px);
  border-radius: 10px;
  z-index: 69;
  animation: appear 200ms;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

.outputItem {
  user-select: none;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: min-content min-content;
  column-gap: 5px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px;
  animation: appear 200ms;
  cursor: pointer;
}
.outputItem img {
  width: 100%;
  grid-row: 1/3;
  border-radius: 3px;
}
.outputItem p:last-of-type {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
}
.outputItem div {
  display: inline flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.outputItem:hover {
  background: var(--accent-gradient-hover);
  box-shadow: 0px 0px 19px -6px var(--font-color) inset;
}

.output::-webkit-scrollbar {
  width: 8px;
}
.output::-webkit-scrollbar-track {
  background: transparent;
}
.output::-webkit-scrollbar-thumb {
  background-color: var(--section);
  border-radius: 10px;
}
.output::-webkit-scrollbar-thumb:hover {
  background: var(--section);
}

@keyframes appear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: calc(100% - 130px);
  }
}

@keyframes disappear {
  0% {
    max-height: calc(100% - 130px);
  }
  100% {
    max-height: 0;
  }
}

@media only screen and (max-width: 950px) {
  .topBarContent {
    gap: 0px;
  }
  .iconDiv > p {
    display: none;
  }
  .iconDiv {
    flex: 0 1 50px;
  }
  .searchInputDiv {
    flex: 0 1 55vw;
  }
  .walletValueDiv {
    display: none;
  }
  .profileDiv {
    flex: 0 0 180px;
  }
  .profileDiv Button:not(.profileButtonDiv Button) {
    display: none;
  }
}
