.container {
  background-color: #151515;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #29292a, #151515), repeating-radial-gradient(circle at center center, #29292a, #29292a, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  grid-column: 2/3;
  grid-row: 1/2;
  animation: logoGlowOut .5s;
}
.logo:hover {
  filter: drop-shadow(0px 0px 15px #ffffff);
  animation: logoGlowIn .5s;
}

.container > p{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  color: white;
}

.continue {
  height: 50px;
  grid-column: 2/3;
  grid-row: 4/4;
}
.welcome {
  font-size: larger;
  grid-column: 2/3;
  grid-row: 1/4;
}
.loader {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 70px;
  display: flex;
  align-items: center;
}
.loader .stroke {
  display: block;
  position: relative;
  background-color: #f1f1f1;
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
@keyframes logoGlowIn {
  from {filter: drop-shadow(0px 0px 0px #ffffff);}
  to {filter: drop-shadow(0px 0px 15px #ffffff);}
}
@keyframes logoGlowOut {
  from {filter: drop-shadow(0px 0px 15px #ffffff);}
  to {filter: drop-shadow(0px 0px 0px #ffffff);}
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

