.createItem {
  user-select: none;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.createItemTitle {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.createItemTitle Button {
  height: 40px;
  width: 40px;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createItemTitle Button:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.createItem form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto 50px;
  gap: 10px;
}
.createItemImage {
  display: grid;
  grid-template-rows: min-content auto auto 45px;
  gap: 5px;
  background: var(--section);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.createItemImage img {
  -webkit-user-drag: none;
  width: calc(100% - 3px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
}
.createItemImage .uploadPhoto {
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createItemImage .uploadPhoto:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.createItem .smallTitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}
.createItemInputs {
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 5px;
  background: var(--section);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.createItem .MuiInputBase-root {
  background: var(--searchbar-focused);
  border-radius: 10px;
}
.createItem .MuiInputLabel-root.Mui-focused {
  color: var(--accent-color) !important;
  filter: drop-shadow(0 0 0px var(--font-color));
}
.createItem .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent-color) !important;
  filter: drop-shadow(0 0 5px var(--font-color));
}
.MuiMenu-paper::-webkit-scrollbar {
  width: 10px;
}
.MuiMenu-paper::-webkit-scrollbar-track {
  background-color: transparent;
}
.MuiMenu-paper::-webkit-scrollbar-thumb {
  background: var(--button);
  border-radius: 10px;
}
.MuiMenu-paper::-webkit-scrollbar-thumb:hover {
  background: var(--section);
}
.createSongList {
  height: 100%;
  padding: 10px;
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  grid-column: 1/-1;
  background: var(--section);
  border-radius: 10px;
  transform: height 1s;
}
.createSongList Button {
  place-self: center center;
  width: min-content;
  color: var(--accent-color);
  transform: all 0.3s;
}
.createSongList Button:hover {
  filter: drop-shadow(0 0 5px var(--font-color)) drop-shadow(0 0 0px var(--font-color));
}
.song {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 2fr 1fr auto;
}
.createItem .createButton {
  grid-column: 1/-1;
}
.createItem form .createButton {
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createItem form .createButton:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
