.users {
  background-color: var(--section);
  border-radius: 10px;
}
.formAssignment {
  background-color: var(--section);
  border-radius: 10px;
}
.productAssignment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border-radius: 10px;
}
.productSection {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
  justify-content: center;
}
.imageContainer {
  display: grid;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.productSection img {
  border-radius: 10px;
  background: var(--accent-gradient);
  transition: all 0.5s ease;

}
.productSection img:hover {
  transform: scale(110%);

}
.successButton {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.kobuch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.stat {
  background: var(--section);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.statchart {
  background: var(--section);
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amount {
  width: 100%;
  display: grid;
  justify-content: center;
  margin: 10px;
  text-align: center;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon svg {
  transform: scale(1.8);
}
#credits {
  background-color: rgba(231, 231, 3, 0.5) !important;
}
#credits .MuiLinearProgress-bar {
  background-color: yellow !important;
}

