@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
}
:root {
  --dark-bg: #191414;
  --dark-window: #000000;
  --dark-button: #1f1f1f;
}
body {
  position: relative;
  color: white;
  height: auto;
  background-color: var(--dark-window);
  font-family: Poppins, sans-serif;
  overflow-y: hidden;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.all {
  margin: 0;
  padding: 0;
}
.topbar {
  -webkit-app-region: drag;
  height: 60px;
  display: flex;
}

.topBarContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: -10px;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}

.sidebar {
  flex: 0;
  vertical-align:center;
  flex-grow: 1;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--dark-bg);
  height: 600px;

}
.sidebuttons {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  /* background-color: red; */
}
.sideobject {
  display: flex;
  vertical-align:center;
  justify-content: space-around;
  background-color: var(--dark-bg);
  color: white;
  background-color: #252525;
  width: 100%;
  height: 75px;
  font-size: 24px;
  border: none;
  margin-top: 5px;
  transition: border-color 150ms linear;
  transition: background-color 150ms linear;
}
.sideobject:hover {
  background-color: var(--dark-button);
  border-radius: 10px;
  transition: border-color 150ms linear;
  transition: background-color 150ms linear;
  }
.main {
  margin: 10px;
  margin-left: 0;
  flex: 0;
  flex-grow: 4;
  display: flex;
  background-color: var(--dark-bg);
  height: 600px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content:space-between;
}

.bottombar {
  border-radius: 10px;
  margin: 10px;
  background-color: var(--dark-window);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

.searchInput {
  -webkit-app-region: no-drag;
  padding-left: 10px;
  height: 40px;
  width: 30%;
  background-color: #202020;
  color: #ffffff;
  border-width: 0px;
  border-radius: 22px;
  transition: background-color 150ms linear;
}

.searchInput:focus {
  outline: none;
  background-color: #292929;
  border-width: 2px;
  border-color: #aaaaaa;
  border-style: solid;
  transition: border-color 150ms linear;
  transition: background-color 150ms linear;
}

.searchInput:hover {
  background-color: #292929;
  transition: background-color 150ms linear;
}

.link1 {
  margin: 0;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: #dddddd;
}

.linkAreaLeft {
  margin: 10px;
  height: 60px;
  color: #d4d4d4;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 1, 255, 1);
background-image: linear-gradient(140deg, rgba(0, 1, 255, 1) 0%, rgba(73, 79, 228, 1) 100%);
}


.linkAreaRight {
  padding: 15px;
  flex: 4;
  display: flex;
  justify-content: left;
  align-items: left;
}
.product {
  background-color: var(--dark-button);
  border-radius: 20px;
  flex: 0 1 300px;
  margin: 10px;
  height: auto;
}
