@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
}

html, body, #root, .all {
  height: 100%;
}

:root.dark {
  --bg: #151515;
  --window: #000000;
  --button: #1f1f1f;
  --section: #252525;
  --section-hover: #2a2a2a;
  --searchbar: #151515;
  --searchbar-focused: #202020;
  --searchbar-focused-hover: #282828;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, #0093ad 0%, #005867 100%);
  --accent-gradient-hover: linear-gradient(140deg, #0094ae 0%, #007a90 100%);
  --accent-color: #00768b;
  --reddish-button: #d22323;
  --reddish-button-hover: #ff2727;
}

:root.pink {
  --font-color: #4a2636;
  --accent-gradient: linear-gradient(140deg, #ff80ab 0%, #ff4081 100%);
  --accent-gradient-hover: linear-gradient(140deg, #ff8db7 0%, #ff557a 100%);
  --accent-color: #ff80ab;
}

:root.pink-dark {
  --bg: #151515;
  --window: #000000;
  --button: #1f1f1f;
  --section: #252525;
  --section-hover: #2a2a2a;
  --searchbar: #151515;
  --searchbar-focused: #202020;
  --searchbar-focused-hover: #282828;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, #ff80ab 0%, #ff4081 100%);
  --accent-gradient-hover: linear-gradient(140deg, #ff8db7 0%, #ff557a 100%);
  --accent-color: #ff4081;
}

:root.red {
  --button: #ef9a9a;
  --accent-gradient: linear-gradient(140deg, #ff6b6b 0%, #d32f2f 100%);
  --accent-gradient-hover: linear-gradient(140deg, #ff7e7e 0%, #b71c1c 100%);
  --accent-color: #ff6b6b;
}

:root.red-dark {
  --bg: #151515;
  --window: #000000;
  --button: #1f1f1f;
  --section: #252525;
  --section-hover: #2a2a2a;
  --searchbar: #151515;
  --searchbar-focused: #202020;
  --searchbar-focused-hover: #282828;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, #e65a5a 0%, #b02727 100%);
  --accent-gradient-hover: linear-gradient(140deg, #f26e6e 0%, #9a1616 100%);
  --accent-color: #d32f2f;
}

:root.green {
  --accent-gradient: linear-gradient(140deg, #66bb6a 0%, #388e3c 100%);
  --accent-gradient-hover: linear-gradient(140deg, #76c478 0%, #2e7d32 100%);
  --accent-color: #66bb6a;
}

:root.green-dark {
  --bg: #151515;
  --window: #000000;
  --button: #1f1f1f;
  --section: #252525;
  --section-hover: #2a2a2a;
  --searchbar: #151515;
  --searchbar-focused: #202020;
  --searchbar-focused-hover: #282828;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, #66bb6a 0%, #388e3c 100%);
  --accent-gradient-hover: linear-gradient(140deg, #76c478 0%, #2e7d32 100%);
  --accent-color: #388e3c;
}

:root.yellow {
  --accent-gradient: linear-gradient(140deg, #ffd54f 0%, #f9a825 100%);
  --accent-gradient-hover: linear-gradient(140deg, #ffe066 0%, #f57f17 100%);
  --accent-color: #ffd54f;
}

:root.yellow-dark {
  --bg: #151515;
  --window: #000000;
  --button: #1f1f1f;
  --section: #252525;
  --section-hover: #2a2a2a;
  --searchbar: #151515;
  --searchbar-focused: #202020;
  --searchbar-focused-hover: #282828;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, #e6be47 0%, #d18f1f 100%);
  --accent-gradient-hover: linear-gradient(140deg, #f0cc5c 0%, #d07b14 100%);
  --accent-color: #d18f1f;
}

:root {
  --bg: #ffffff;
  --window: #c4c4c4;
  --button: #e0e0e0;
  --section: #d5d5d5;
  --section-hover: #c5c5c5;
  --searchbar: #ffffff;
  --searchbar-focused: #e9e8e8;
  --searchbar-focused-hover: #c9c9c9;
  --font-color: #222;
  --accent-gradient: linear-gradient(140deg, #00b8d9 0%, #008ba4 100%);
  --accent-gradient-hover: linear-gradient(140deg, #00a8c6 0%, #007c92 100%);
  --accent-color: #00a0bd;
  --reddish-button: #ff5050;
  --reddish-button-hover: #d22323;
}

body {
  background-color: var(--window);
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.all {
  color: var(--font-color);
  box-sizing: border-box;
  padding: 0 8px 15px 8px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  column-gap: 5px;
  transition: 0.2s;
}
.all.polish {
  grid-template-columns: 250px 1fr;
}
.all.english {
  grid-template-columns: 219px 1fr;
}
.all.german {
  grid-template-columns: 260px 1fr;
}

.main {
  background-color: var(--bg);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  overflow: auto;
}

/* width */
.main::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.main::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.main::-webkit-scrollbar-thumb {
  background: var(--button);
  border-radius: 10px;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
  background: var(--section);
}

@media only screen and (max-width: 950px) {
  .all {
    grid-template-columns: 80px 1fr;
  }
  .all.polish {
    grid-template-columns: 80px 1fr;
  }
  .all.english {
    grid-template-columns: 80px 1fr;
  }
  .all.german {
    grid-template-columns: 80px 1fr;
  }
}
