@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
}

html, body, #root, .all {
  height: 100%;
}

:root.dark {
  --bg: #191414;
  --window: #000000;
  --button: #1f1f1f;
  --section: #2a2a2a;
  --searchBar: #202020;
  --searchBarFocused: #292929;
  --font-color: #ddd;
  --accent-gradient: linear-gradient(140deg, rgb(33, 33, 255) 0%, rgb(26, 26, 252) 100%);
}

:root {
  --bg: #ffffff;
  --window: #c4c4c4;
  --button: #e0e0e0;
  --section: #d5d5d5;
  --searchBar: #dfdfdf;
  --searchBarFocused: #d6d6d6;
  --font-color: #222; /* Nigdy nie dajesz white/black tylko ich odcienie */
  --accent-gradient: linear-gradient(140deg, #00b8d9 0%, #008ba4 100%);
}

body {
  background-color: var(--window);
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.all {
  color: var(--font-color);
  box-sizing: border-box;
  padding: 0 8px 8px 8px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  column-gap: 5px;
}

.main {
  background-color: var(--bg);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 0 10px 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--button);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--section);
}
