.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 1fr 50px;
  gap: 5px;
  background: var(--bg);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}
.sideButton, .sideButtonInverted {
  display: grid;
  grid-template-columns: 50px 1fr;
  max-width: 100%;
  background: var(--section);
  color: var(--font-color);
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  transition: background-color 0.3s;
}
.sideButtonInverted {
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 8px;
}
:nth-child(1 of .sideButton) {
  border-radius: 8px 8px 0 0;
}
:nth-last-child(1 of .sideButton) {
  border-radius: 0 0 8px 8px;
}
.sideButton div, .sideButtonInverted div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-gradient);
  border-radius: 8px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
  z-index: 1;
}
.sideButton div::before, .sideButtonInverted div::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
  border-radius: 8px;
  z-index: -1;
  transition: opacity 0.3s;
  opacity: 0;
}
.sideButton:hover div::before, .sideButtonInverted:hover div::before{
  opacity: 1;
}
.sideButton div svg, .sideButtonInverted div svg {
  font-size: 34px;
}
.sideButton p, .sideButtonInverted p {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.sideButton:hover {
  background: var(--section-hover);
  transition: background-color 0.3s;
}
.sideButtonInverted:hover {
  background: var(--accent-gradient-hover);
  transition: background-color 0.3s;
}
.themeButtonDiv {
  display: flex;
  align-items: end;
  justify-content: center;
}
.themeButton {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 40px 1fr 40px;
  background: var(--section);
  border-radius: 8px;
  margin-bottom: 10px;
}
.active {
  color: var(--accent-color);
}
.css-17jyosd-MuiSwitch-thumb {
  background: var(--accent-gradient);
  border-radius: 5px !important;
}
.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background: var(--accent-gradient);
  border-radius: 4px !important;
}
.css-tj8d99-MuiSwitch-track {
  background: var(--accent-gradient);
  border-radius: 4px !important;
}
.cartButton {
  position: relative;
  max-width: 100%;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
  z-index: 1;
}
.cartButton::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--accent-gradient-hover);
  box-shadow: 0px 0px 19px -6px var(--font-color);
  border-radius: 8px;
  z-index: -1;
  transition: opacity 0.3s;
  opacity: 0;
}
.cartButton p {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.cartButton:hover::before {
  opacity: 1;
}
.cartButton:hover .cartButtonBadge {
  background: var(--reddish-button-hover);
}
.cartButtonIcon {
  position: relative;
  height: 35px;
}
.cartButtonIcon svg {
  font-size: 34px;
}
.cartButtonBadge {
  position: absolute;
  top: -7px;
  right: -7px;
  background: var(--reddish-button);
  height: 18px;
  width: 18px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .sideButton {
    grid-template-columns: 50px 0fr;
    transition: 0.2s ease-in;
  }
  .sideButton p, .cartButton p {
    display: none;
  }
  .themeButton {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .themeButton svg:last-of-type {
    grid-row: 1/2;
  }
  .themeButton svg:not(.active) {
    display: none;
  }
}
