.createStudio {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.createStudio:not(input, textarea) {
  user-select: none;
}
.createStudioTitle {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.createStudioTitle Button {
  height: 40px;
  width: 40px;
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createStudioTitle Button:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.createStudio form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
}
.createStudio .smallTitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}
.createStudioImage {
  display: grid;
  grid-template-rows: min-content auto auto 45px;
  gap: 5px;
  background: var(--section);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.createStudioImage img {
  -webkit-user-drag: none;
  width: calc(100% - 3px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
}
.createStudioImage .uploadPhoto {
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createStudioImage .uploadPhoto:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.createStudioInputs {
  display: grid;
  grid-template-rows: min-content auto min-content auto auto min-content 45px;
  gap: 5px;
  background: var(--section);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.createStudio .MuiInputBase-root {
  background: var(--searchbar-focused);
  border-radius: 10px;
}
.createStudio .MuiInputLabel-root.Mui-focused {
  color: var(--accent-color) !important;
  filter: drop-shadow(0 0 0px var(--font-color));
}
.createStudio .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent-color) !important;
  filter: drop-shadow(0 0 5px var(--font-color));
}
.createStudioInputs .smallTitle:last-of-type {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  opacity: 0.8;
}
.createStudioInputs .createButton {
  background: var(--accent-gradient);
  color: var(--font-color);
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px var(--font-color);
}
.createStudioInputs .createButton:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.Mui-disabled {
  color: rgb(255, 255, 255, 0.3) !important;
}
@media only screen and (max-width: 800px) {
  .createStudio form {
    grid-template-columns: 1fr;
  }
}
