.studioSection {
  border-radius: 10px;
}
.title {
  display: flex;
  gap: 5px;
}
.title Button {
    background: var(--accent-gradient);
    color: var(--font-color);
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px var(--font-color);
}
.title Button:hover {
  box-shadow: 0px 0px 19px -6px var(--font-color);
  background: var(--accent-gradient-hover);
}
.studioContainer {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}
.studioLeft {
  display: grid;
  background-color: var(--section);
  border-radius: 10px;
}
.studioLeft img {
  border-radius: 10px;
}
